/* @import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');*/
@charset "UTF-8"; 
@font-face {
font-family: "Arsenal";
font-weight: 400;
font-style: normal;
src: local('Arsenal Regular'), local('Arsenal-Regular'), url(media/Arsenal-Regular.ttf) format('ttf');
}
@font-face {
    font-family: "Arsenal";
    font-weight: 400;
    font-style: italic;
    src: local('Arsenal Italic'), local('Arsenal-Italic'), url(media/Arsenal-Italic.ttf) format('truetype');
}
@font-face {
    font-family: "Arsenal";
    font-weight: bold;
    font-style: normal;
    src: local('Arsenal Bold'), local('Arsenal-Bold'), url(media/Arsenal-Bold.ttf) format('truetype');
}
@font-face {
    font-family: "Arsenal";
    font-weight: bold;
    font-style: italic;
    src: local('Arsenal Bold Italic'), local('Arsenal-BoldItalic'), url(media/Arsenal-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  src: url('media/OpenSans-VariableFont_wdth,wght.ttf');
}
@font-face {
  font-family: 'Open Sans';
  src: url('media/OpenSans-Italic-VariableFont_wdth,wght.ttf');
  font-style: italic;
}
/* @font-face {
    font-family: "Open Sans";
    font-weight: bold;
    font-style: normal;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(media/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(media/OpenSans-SemiBold.ttf) format('truetype');
}
@font-face {
    font-family: "Open Sans";
    font-weight: 500;
    font-style: normal;
    src: local('Open Sans Medium'), local('OpenSans-Medium'), url(media/OpenSans-Medium.ttf) format('truetype');
}
@font-face {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(media/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    font-style: normal;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(media/OpenSans-Light.ttf) format('truetype');
}
@font-face {
    font-family: "Open Sans";
    font-weight: bold;
    font-style: italic;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(media/OpenSans-BoldItalic.ttf) format('truetype');
}
@font-face {
    font-family: "Open Sans";
    font-weight: 600;
    font-style: italic;
    src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(media/OpenSans-SemiBoldItalic.ttf) format('truetype');
}
@font-face {
    font-family: "Open Sans";
    font-weight: 500;
    font-style: italic;
    src: local('Open Sans Medium Italic'), local('OpenSans-MediumItalic'), url(media/OpenSans-MediumItalic.ttf) format('truetype');
}
@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: italic;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(media/OpenSans-Italic.ttf) format('truetype');
}
@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    font-style: italic;
    src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(OpenSans-LightItalic.ttf) format('truetype');
} */

*{ font-family: '0pen Sans', sans-serif; font-weight: 400; }

@page {
  size: 210mm 297mm;
  margin-top: 30mm;
  margin-bottom: 30mm;
  margin-left: 28mm;
  margin-right: 20mm;
}

@page :left {
  @top-left {
    content: env(doc-title);
    font-family: '0pen Sans', sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 6.96pt; /* 0.58rem */
    line-height: 1.5;
    letter-spacing: 0.2pt;
    word-spacing: 1px;
    width: 80mm;
  }
  @top-center {
    content: " ";
  }
  @top-right {
    content: string(chapter-title, start);
    font-family: '0pen Sans', sans-serif;
    font-weight: 400;
    text-align: right;
    font-style: italic;
    font-size: 6.96pt;
    line-height: 1.5;
    letter-spacing: 0.2pt;
    word-spacing: 1px;
    width: 80mm;
  }
  @bottom-left {
    content: "Page " counter(page) "/" counter(pages);/*Change to Blat*/
    line-height: 1.5;
    font-family: '0pen Sans', sans-serif;
    text-align: left;
    font-weight: 400;
    font-style: italic;
    font-size: 6.96pt;
    letter-spacing: 0.2pt;
    word-spacing: 1px;
    width: 80mm;
  }
  
  @bottom-center {
    content: " ";
  }
  @bottom-right {
    content: " ";
    width: 80mm;
  }
}
@page :right {
  @top-left {
    content: env(doc-title);
    font-family: '0pen Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 6.96pt;
    line-height: 1.5;
    letter-spacing: 0.2pt;
    word-spacing: 1px;
    width: 80mm;
  }
  @top-center {
    content: " ";
  }
  @top-right {
    content: string(chapter-title, start);
    font-family: '0pen Sans', sans-serif;
    font-weight: 400;
    text-align: right;
    font-style: italic;
    font-size: 6.96pt; 
    line-height: 1.5;
    letter-spacing: 0.2pt;
    word-spacing: 1px;
    width: 80mm;
  }
  @bottom-left {
    content: " ";
    width: 80mm;
  }
  
  @bottom-center {
    content: " ";
    width: 57mm;
  }
  @bottom-right {
    content: "Page " counter(page) "/" counter(pages);/*Change to Blat*/
    line-height: 1.5;
    font-family: '0pen Sans', sans-serif;
    text-align: right;
    font-weight: 400;
    font-style: italic;
    font-size: 6.96pt;
    letter-spacing: 0.2pt;
    word-spacing: 1px;
    width: 35mm;
  }
  
}
/* 
@page :blank {
	@bottom-left { content: normal; }
	@bottom-right { content: normal; }
	@top-center { content: normal; }
  @top-left { content: normal; }
  @top-right { content: normal; }
} */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  counter-reset: chapter figure-cat-figure figure-cat-photo figure-cat-table footnote-counter footnote-marker-counter;
  overflow-wrap: break-word;
}
body.user-contents {
  max-width: 60ch;/*126.5mm*/
  /* margin: 0 auto; */
  max-height: 220mm;
}

html {
  font-family: '0pen Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(0,0,0);
  text-rendering: optimizeLegibility;
  /*-webkit-font-smoothing: antialiased;*/
  overflow-wrap: break-word;
  word-wrap: break-word;
  /*-webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;*/
}

nav::before {
  content: "Table of Contents"; /*Change to  Inhaltsverzeichnis*/
  font-family: 'Arsenal', sans-serif;
  font-size: 3rem;
  color: rgb(87,148,255);  
  font-weight: bold;
  text-align: left;
}

nav {
  margin: 2em 2em 4em 0;
  break-before: always;
  page-break-before: always;
  font-size: 0.90rem;
  color: rgb(87,148,255); 
}

nav ol {
  margin-top: 2em;
  list-style: none;
}

nav li a {
  display: inline-flex;
  width: 100%;
  text-decoration: none;
  color: black;
  align-items: baseline;
  border: none;
}
nav li a::before {
  margin-left: 0.3em;
  margin-right: 0.3em;
  border-bottom: 1px dotted;
  content: "";
  order: 1;
  flex: auto;
}

nav li ol {
  margin-top: 0.5em;
}

nav li ol li {
  margin-left: 0.5em;
}

nav li a::after {
 text-align: right;
 content: target-counter(attr(href), page);
 align-self: flex-end;
 flex: none;
 order: 2;
}

.user-contents .article-title {
  page-break-before: always!important;
}
.user-contents h1.part {
  page-break-before: always!important;
}
.user-contents .copyrightpage {
  page-break-before: always!important;
}
.user-contents.tocpage {
  page-break-before: always!important;
}
div.titlepage {
  margin-bottom: 2em; 
  position: relative;
}
div.titlepage:after{
  content: "";
  background: transparent url(media/logo.png) 0 0 no-repeat;
  position: absolute;
  right: -30mm;
  top: -60mm;
  height: 150px; /*add height of your image here*/ 
  width: 200px; /*add width of your image here*/
  z-index: 1;  
}
h1.booktitle {
  text-align: left;
  font-size: 3rem;
  margin: 6em 0 1em 0;
}
.titlepage h2 {
  font-size: 2rem;
  font-weight: normal;
}
.titlepage h3, .titlepage h4 {
  font-size: 1.2rem;
  font-weight: normal;
}

/* .titlepage h2, .titlepage h3, .titlepage h4 {
  margin-bottom: 1.5em;
} */

h1.part { display: none; }
.article-title {
  string-set: chapter-title content(text);
  font-family: 'Arsenal', sans-serif;
  font-size: 3rem;
  color: rgb(87,148,255);  
  font-weight: bold;
  text-align: left;
  margin-bottom: 1.2em;
  page-break-inside: avoid;
  page-break-after: avoid;
  text-transform: none;
  hyphens: manual;
  white-space: pre-line;
  letter-spacing: 0pt;
  word-spacing: 1px;  
}

.article-title strong { font-weight: bold;}

.article-title:before {
  display: block;
  text-transform: none;
  counter-increment: chapter;
  font-size: 10pt;
  margin-bottom: 13pt;
  letter-spacing: 1pt;
}

/*Literaturverzeichnis*/
.article-bibliography-header {
  font-family: 'Arsenal', sans-serif;
  font-size: 1.8rem;
  color: rgb(0,0,0);
  font-weight: normal;
  text-align: left;
  margin-top: 1.1em;
  margin-bottom: 0.5em;
  page-break-inside: avoid;
  page-break-after: avoid;
  text-transform: none;
  hyphens: manual;
  white-space: pre-line;
  letter-spacing: 0pt;
  word-spacing: 1px;
}
.csl-entry {
  font-family: '0pen Sans', sans-serif;
  font-weight: 400;
  font-size: 0.90rem;
  line-height: 1.3; 
  margin-bottom: 1em;
  margin-right: 4em;
  max-width: 68ch;
}
/* section:footnote-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 126.5mm;
} */

.article-body {
  font-size: 0.90rem;
}

.image-width-100 {
    width: 99%;
    box-sizing:border-box;
}

.image-width-90 {
    width: 89%;
    box-sizing:border-box;
}

.image-width-75 {
    width: 74%;
    box-sizing:border-box;
}

.image-width-50 {
    width: 49%;
    margin-left:5%;
    margin-right:5%;
    box-sizing:border-box;
}

.image-width-25 {
    width: 24%;
    margin-left:2%;
    margin-right:2%;
    box-sizing:border-box;
}

p {
  font-family: '0pen Sans', sans-serif;
  font-weight: 400;
  font-size: 0.90rem;
  line-height: 1.3; 
  margin-bottom: 1em;
  orphans: 2;
  widows: 2;
}

p + p {
  text-indent: 0;
  margin-top: 9.80pt; }

div.table-cell-container p + p {
  margin-top: 0pt;}

li p {
   display: inline;
}

p strong,
p .bold,
p .Bold,
p b,
li strong,
li .bold,
li .Bold,
li b {
  font-weight: 700;
}

table li strong
table li b {
  font-family: '0pen Sans', sans-serif;
  font-weight: 700;
}

em,
.italic {
  font-family: inherit;
  font-style: italic;
  font-weight: 400;
}

pre {
  max-width: 80.1266666667mm;
}

a, .csl-bib-body a {
  color: #000;
  text-decoration: none !important;
  border-bottom: 0.1pt solid rgb(87,148,255);  
}


strong em {
  font-weight: bold;
  font-style: italic;
}

var {
  font-family: '0pen Sans', sans-serif;
  font-weight: 400;
}

var em,
var .Italic {
  font-weight: normal;
  font-style: normal;
}

sup {
  font-size: 9.75pt;
  font-weight: inherit;
  position: relative;
  top: -3px;
  vertical-align: baseline;
}

blockquote {
  display: block;
  width: 80%;
  position: relative;
  font-family: '0pen Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 2em;
  margin-bottom: 2em;
  border-left: 5px solid rgb(87,148,255);
  background-color: rgb(247,247,247);
  padding: 20px;
  font-style: italic;
}

/* blockquote:before {
  font-family: 'Arsenal', sans-serif;
  content: "“";
  font-size: 8em;
  left: -60px;
  top: -10px;
  z-index: 5;
  position: absolute;
  color:rgb(87,148,255);  
  opacity: 1;
} */

blockquote p {
  font-family: inherit;
  text-align: left;
  font-style: normal;
}

blockquote strong {
  font-weight: 700;
}

blockquote  p.att { text-align: right; }

/* h2, h2 strong {
font-family: '0pen Sans', sans-serif;
margin-bottom: 0.5em;
} */
/* h3, h3 strong 
{
  font-family: '0pen Sans', sans-serif;
  margin-bottom: 0.5em;
  color: rgb(0,0,0);
  font-weight: 700;
} */
h4, h4 strong,
h5,
h6 {
  font-family: '0pen Sans', sans-serif;
  margin-bottom: 0.5em;
  color: rgb(0,0,0);
}

h1 {
  font-family: 'Arsenal', sans-serif;
  font-size: 3rem;
  color: rgb(87,148,255); 
  font-weight: bold;
  margin-top: 1.1em;
  margin-bottom: 1.1em;
  page-break-inside: avoid;
  page-break-after: avoid;
  text-transform: none;
  hyphens: manual;
  white-space: pre-line;
  letter-spacing: 0pt;
  word-spacing: 1px;
}

h1 strong { font-weight: bold;}

h2 {
  font-size: 1.8rem;
  font-family: 'Arsenal', sans-serif;
  font-weight: normal;
  text-transform: none;
  page-break-inside: avoid;
  page-break-after: avoid;
}

h3 {
  font-size: 1.4rem;
  font-family: 'Arsenal', sans-serif;
  page-break-inside: avoid;
  page-break-after: avoid;
  font-weight: bold;
}

h4 {
  font-size: 1rem;
  font-family:'0pen Sans', sans-serif;
  font-weight: bold;
  page-break-inside: avoid;
  page-break-after: avoid;
}

h5 {
  font-family: '0pen Sans', sans-serif;
  font-weight: 800;
  font-size: 0.9rem;
  page-break-inside: avoid;
  page-break-after: avoid;
}
h6 {
  font-family: '0pen Sans', sans-serif;
  font-weight: 800;
  font-size: 0.7rem;
  page-break-inside: avoid;
  page-break-after: avoid;
}
hr {
  border: 0;
  height: 1px;
  background: #000;
  }

hr.br { border:0; height: 0px; }


.one ol li {
  list-style-type: decimal;
}


h1:before {
  display: block;
  text-transform: none;
  counter-increment: chapter;
  font-size: 10pt;
  margin-bottom: 13pt;
  letter-spacing: 1pt;
}

.footnotes ol {
  font-size: 9pt;
  line-height: 10.8pt;
  list-style-position: outside;
  font-family: '0pen Sans', sans-serif;
}

.footnotes ol li p {
  text-indent: 0;
  font-size: 9pt;
  line-height: 10.75pt;
  word-wrap: break-word;
  font-family: '0pen Sans', sans-serif;
  font-weight: 400;
}

.footnotes ol li p a {
  text-wrap: word-break;
}

li[id*="fn"] {
  color: black;
  text-indent: 0;
  font-size: 9pt;
  margin-left: 1.3pc;
  font-family: '0pen Sans', sans-serif;
}

/*epub*/
.footnote-content {
  color: black;
  text-indent: 0;
  font-size: 9pt;
  font-family: '0pen Sans', sans-serif;
  font-weight: 400;
}

.footnote-content span {
  margin-left: 1.3pc;
}

a.footnoteRef {
  border-bottom: 0;
  line-height: 0;
  background: none;
  display: inline;
}

figure {
  text-indent: 0;
  width: 100%;
  text-align: center;
  margin-top: 27pt;
  margin-bottom: 27pt;
}

figure img {
  display: block;
  height: auto;
  margin: auto;
}


figure figcaption {
  font-family: '0pen Sans', sans-serif;
  margin-top: 5px;
  font-weight: 300;
  color: black;
  text-indent: 0;
  text-align: center;
  font-size: 8pt;
  font-style: italic;
}

.epub nav li a::before {
  border-bottom: none;
}

ul {
  display: block;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  line-height: 1.3;
  font-size: 0.90rem;
  hyphens: none;
}

.article-body ul > li {
  height: auto;
}
.article-body ul > li:before {
  content: "-";
  padding-right: 8px;
  color:rgb(0,0,0);
  font-size: 120%;
}
#page-navigation ol {
    margin: 0;
    padding: 0;
    list-style-type: decimal;
    float: left;
}

 .article-body ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 25px;
  line-height: 1.3;
  font-size: 0.90rem;
  hyphens: none;
}
ol li {
  margin-bottom: 0.5em;
}

table {
  margin: 0 auto;
  width: 100% !important;
  font-family: '0pen Sans', sans-serif;
  font-weight: 400;
  page-break-inside: avoid;
  margin-top: 9.80pt;
  margin-bottom: 18pt;
  text-align: left;
  font-size: 8pt;
}
th {
  padding: 1em;
  font-style: italic;
  font-weight: bold;
  color:#fff;
  background-color: rgb(87,148,255); 
  border-bottom: 2px solid rgb(227,227,227);
}
tr:nth-child(odd) {
  background-color: rgb(247,247,247);
}
table.tbnostyle tr:first-of-type td {
  font-style: normal!important;
  background-color: transparent !important;
  border-bottom: 1px solid rgb(231,231,231)!important;
}

table caption {
  padding: 1em 1em  1em 0;
  text-align: left;
  margin: 0 auto;
  vertical-align: middle;
}

table caption:before {
  counter-increment: table;
  margin-right: 1em;
  font-style: italic;
}


table td {
  width: auto;
  padding: 0.5em;
}

table td a {
 word-wrap: break-word;
 overflow-wrap: break-word;
}

table td:last-of-type {
  padding-right: 1em;
}

table p,
table ul,
table li,
table ol {
  margin: 0;
  font-family: '0pen Sans', sans-serif;
  font-weight: 400;
  text-align: left;
  text-indent: 0;
}

table li {
  vertical-align:top;
}

tr:first-of-type th {
  padding-top: 1em;
  padding-bottom: 1em;

}

tr:last-of-type td {
  padding-bottom: 0.6em;
}

tr:first-of-type {
    font-weight: normal;
}

table + p + p {
  margin-top: 18pt;
}
table, td, th {
  /* border: 0.1pt solid black; */
  border-collapse: collapse;
} 

div.article-body > h2:first-child {
  margin-top: 0;
}

h2 + p {
    page-break-after: avoid;
}

/* Docsify */
.content .markdown-section li p {
  display: inline!important;
} 


@media print {
  a {
    color: #000;
    text-decoration: none !important;
    border-bottom: 0.1pt solid rgb(87,148,255); 
  }

  @page {
    size: 210mm 297mm;
  }
  nav, p, ul, ol, .csl-entry  {
    font-size: 9.96pt;
    line-height: 1.21;
  }
 /*  h1, .article-title, .article-bibliography-header {
    font-size: 14.04pt;
  } */
  body.user-contents {
    max-width: 126.5mm;
    /* margin: 0 auto; */
    max-height: 220mm;
  }

}